
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-item{
    background-color: #FFF;
    border-radius: 5px;
    color: #296ea4;
    padding: 30px 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px lightblue;
}

.flex-item:hover{
    cursor: pointer;
    color: #FFF;
    background-color: #dfc181;
}

@media (max-width: 768px){
    .flex-container{
        display: flex;
        flex-direction: column;
    }
}
