.contact-us{
    display: flex;
    flex-direction: row;
}

.text{
    padding: 1.5rem;
}

.contact-image{
    width: 70%;
    height: 350px;
    margin-inline: 3em;
}


@media (max-width: 768px){
    .contact-us{
        display: flex;
        flex-direction: column;
    }

    .text{
        align-items: center;
        justify-content: center;
    }

    .contact-image{
        margin: 0 auto;
        height: 300px;
    }
}