.contact-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 10%;
    text-align: justify;
    margin-block: 50px;
}

.contact-image{
    margin-bottom: 60px;
    height: 500px;
    width: 30em;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 25px;
    max-width: 400px;
}


@media (max-width: 768px){
    .contact-us{
        display: flex;
        flex-direction: column;
    }

    .text{
        align-items: center;
        justify-content: center;
    }

    .contact-image{
        margin: 0 auto;
        height: 400px;
        margin-bottom: 10px;
    }
}