
img {
    height: 500px;
    width: 25em;
    box-shadow: 10px 10px 5px lightblue;
}

.title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    margin-bottom: 50px;
}

.menu-container{
    display: flex;
    padding: 20px;
    margin-inline: 150px;
    margin-top: 40px;
}

.menu-container-principal{
    background-image: url('../../Assets/Images/pexels-keira-burton-6146933.jpg');
    height: 700px;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
}

.menu-container-white{
    display: flex;
    padding: 40px;
    margin-top: -40px;
    background-color: #F3F4F5;
    color: #000;
}

.text-section-principal{
    padding: 180px;
    margin-left: 600px;
}

.text-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px;
}

.img-section{
    display: grid;
    margin: 5px;
}

@media (max-width: 768px){

    .menu-container{
        display: grid;
        margin: 0 auto;
    }

    .menu-container-white{
        display: grid;
        margin: 0 auto;
    }

    .menu-container-principal{
        margin: 0 auto;
        display: grid;
        height: 5%;
        background-position: top;
        margin-top: -15px;
    }

    .text-section-principal{
        padding: 20px;
        margin: 50px;
        display: flex;
        flex-direction: column;
    }

    .carousel{
        display: none;
    }

    .text-section{
        margin: 10px auto;
        padding: 20px;
    }

    .title{
        font-size: 40px;
    }

    img{
        width: 85%;
    }
}